body {
  background-color: #fafaed;
  color: #362d1f;
  font-family: 'HelveticaNeue-light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif; }
  body h1 {
    font-weight: 400;
    font-size: 30px; }
  body h2 {
    font-weight: 700;
    font-size: 30px; }
  body h3 {
    font-weight: 400;
    font-size: 22px; }
    body h3 a, body h3 a:hover {
      color: #362d1f;
      text-decoration: none; }
    body h3 a:hover {
      color: #362d1f;
      border-bottom: 2px solid #362d1f;
      padding-bottom: 4px;
      text-decoration: none; }

.logo {
  font-weight: 400;
  font-size: 18px;
  color: #362d1f; }
  .logo.logo:hover {
    text-decoration: none;
    color: #362d1f; }

.nav-link {
  font-weight: 400;
  font-size: 18px;
  color: #362d1f !important; }

.nav-link:hover {
  color: #362d1f;
  border-bottom: 2px solid #362d1f;
  padding-bottom: 4px;
  text-decoration: none; }

.intro {
  margin-top: 155px; }

.project-title {
  padding-top: 175px; }

.ux img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

footer {
  background-color: #362d1f;
  color: white;
  margin-top: 30px; }
  footer .social {
    text-align: right; }
