body {
background-color: #fafaed;
color: #362d1f;
font-family: 'HelveticaNeue-light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;

h1 {
  font-weight: 700;
  font-size: 54px;
}
h2 {
  font-weight: 700;
  font-size: 30px;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

h4 {
  font-weight: 400;
  font-size: 22px;
  a, a:hover{
    color: #362d1f;
    text-decoration: none;
  }
  a:hover {
    color: #362d1f;
    border-bottom: 2px solid #362d1f;
    padding-bottom: 4px;
    text-decoration: none;
  }
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

}

.logo {
  font-weight: 400;
  font-size: 18px;
  color: #362d1f;
  &.logo:hover {
    text-decoration: none;
    color: #362d1f;
  }

}

.nav-link {
  font-weight: 400;
  font-size: 18px;
  color: #362d1f !important;
}
.nav-link:hover {
  color: #362d1f;
  border-bottom: 2px solid #362d1f;
  padding-bottom: 4px;
  text-decoration: none;
  }

.intro {
  margin-top: 155px;
  font-weight: 400;
  font-size: 30px;
  line-height: normal;
}

.project-title {
  padding-top: 175px;
}


img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


footer {
  background-color: #362d1f;
  color: white;
  margin-top: 30px;
  .social {
    text-align: right;
  }
}

.title {
  padding-top: 125px;
}
.titleux {
  padding-top: 65px;
}
.webdev {
  img{
    max-height: 212px;
  }
}
