body {
  color: #383E49;
  background-color: #F5F5F1;
  font-family: 'HelveticaNeue-light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif; }
  body h1 {
    font-weight: 700;
    font-size: 54px; }
  body h2 {
    font-weight: 700;
    font-size: 30px; }
  body h3 {
    font-size: 30px;
    font-weight: 400; }
  body h4 {
    font-weight: 400;
    font-size: 22px; }
    body h4 a, body h4 a:hover {
      color: #383E49;
      text-decoration: none; }
    body h4 a:hover {
      color: #383E49;
      border-bottom: 2px solid #383E49;
      padding-bottom: 4px;
      text-decoration: none; }
  body h5 {
    font-size: 16px;
    font-weight: 700; }
  body h6 {
    font-size: 14px;
    font-weight: 700; }
  body em {
    font-size: 16px;
    font-style: italic; }
  body ul {
    padding: 0; }
  body p {
    line-height: normal; }

.logo {
  font-weight: 400;
  font-size: 18px;
  color: #383E49; }
  .logo.logo:hover {
    text-decoration: none;
    color: #383E49; }

.nav-link {
  font-weight: 400;
  font-size: 18px;
  color: #383E49 !important; }

.nav-link:hover {
  color: #383E49;
  border-bottom: 2px solid #383E49;
  padding-bottom: 4px;
  text-decoration: none; }

.intro {
  margin-top: 155px;
  font-weight: 400;
  font-size: 30px;
  line-height: normal; }

.project-title {
  padding-top: 175px; }

footer {
  background-color: #383E49;
  color: white;
  margin-top: 30px; }
  footer .social {
    text-align: right;
    padding-top: 10px; }

.copyright {
  padding-top: 10px; }

.title {
  padding-top: 125px; }

.titleux {
  padding-top: 65px; }

.webdev img {
  max-height: 212px; }
