body {
color: #383E49;
background-color: #F5F5F1;
font-family: 'HelveticaNeue-light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;

h1 {
  font-weight: 700;
  font-size: 54px;
}
h2 {
  font-weight: 700;
  font-size: 30px;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

h4 {
  font-weight: 400;
  font-size: 22px;
  a, a:hover{
    color: #383E49;
    text-decoration: none;
  }
}

.left {
  display: inline;
  position: relative;
  overflow: hidden;
}
.left:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: #383E49;
  height: 1px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.left:hover:after,
.left:focus:after,
.left:active:after {
  right: 0;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  a, a:hover{
    color: #383E49;
    text-decoration: none;
  }
}

h6 {
  font-size: 14px;
  font-weight: 700;
}

em {
  font-size: 16px;
  font-style: italic;
}
ul {
  padding: 0;
}

p {
  line-height: normal;
}

}

.logo {
  font-weight: 400;
  font-size: 18px;
  color: #383E49;
  &.logo:hover {
    text-decoration: none;
    color: #383E49;
  }

}

.nav-link {
  font-weight: 400;
  font-size: 18px;
  color: #383E49 !important;
}
.nav-link:hover {
  color: #383E49;
  text-decoration: none;
  }

.intro {
  margin-top: 155px;
  font-weight: 400;
  font-size: 30px;
  line-height: normal;
}

.project-title {
  padding-top: 175px;
}



footer {
  background-color: #383E49;
  color: white;
  margin-top: 30px;
  .social {
    text-align: right;
    padding-top: 10px;
  }
}
.copyright{
  padding-top: 10px;
}
.title {
  padding-top: 125px;
}
.titleux {
  padding-top: 65px;
}
.webdev {
  img{
    max-height: 212px;
  }
}

.zoom:hover {
transform: scale(1.02);
}

/* hero styling */

.overview {
  ul {
    list-style-type: none;
    line-height: 1.6;
  }
}

.clearview {
  p {
    line-height: 1.6;
    font-weight: 500;
    font-size: 18px;
  }
  ul {
    font-weight: 500;
    line-height: 1.6;
    font-size: 18px;
  }
}
blockquote{
  color: #555555;
  line-height:1.6;
  background:#EDEDED;
  text-align: center;
  p{
    font-weight: 700;
    font-size: 22px !important;
  }
}
